#grid-container {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: auto;
}

.grid-row {
    display: flex;
    height: auto;
    width: 100%;
}

.grid-square{
    box-sizing: border-box;
    height: auto;
    aspect-ratio: 1/1;
    border: 0.5px solid black;
}

